﻿@model CadastroClientes.ViewModel.ClienteVM;

<div class="row text-center">
    <div class="offset-4 col-md-4">
        <h2>Telefone <i class="fas fa-phone"></i></h2>

    </div>

</div>

<div class="row text-center">

    <div class="offset-4 col-md-4">
        <div class="card">
            <div class="card-body">

                <form asp-action="AddNumber" method="post">
                    <div class="form-group">

                        <input type="hidden" asp-for="Id" />
                        <h5>@Html.DisplayFor(model => model.Nome)</h5>

                        <div class="input-group">
                            <input asp-for="DDD" type="number" class="w-25 form-control" placeholder="DDD" />
                            <input asp-for="Numero" type="number" class="w-75 form-control" placeholder="Numero" />
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-success btn-block" value="Adicionar" />

                    </div>
                </form>
                <a href="javascript:history.go(-1)">Cancelar</a>
            </div>
        </div>


    </div>

</div>

