﻿@model CadastroClientes.ViewModel.ClienteVM;

<div class="row text-center">
    <div class="offset-4 col-md-4">
        <h2>Editar <i class="fas fa-pen"></i></h2>

    </div>

</div>



<div class="row text-center">

    <div class="offset-4 col-md-4">
        <div class="card">
            <div class="card-body">

                <form asp-action="Edit" method="post">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="hidden" asp-for="Id" />
                        <input asp-for="Nome" type="text" class="form-control" />

                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-success btn-block" value="Atualizar" />

                    </div>
                </form>
                <a href="javascript:history.go(-1)">Cancelar</a>
            </div>
        </div>


    </div>

</div>

