﻿@model CadastroClientes.ViewModel.ClienteVM;

<div class="row text-center">
    <div class="offset-4 col-md-4">
        <h2>Cadastro <i class="fas fa-user"></i></h2>

    </div>

</div>



<div class="row text-center">

    <div class="offset-4 col-md-4">
        <div class="card">
            <div class="card-body">

                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label>Nome</label>
                        <input asp-for="Nome" type="text" class="form-control" />

                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-success btn-block" value="Cadastrar" />

                    </div>
                </form>

            </div>
        </div>


    </div>

</div>
@{
    if (Model.Clientes.Any())
    {
        <div class="row mt-5 mb-5">
            <div class="offset-2 col-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Telefone</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Clientes)
                                {

                                    <tr>
                                        <td>@Html.DisplayFor(model => item.Nome)</td>
                                        <td>
                                            <form asp-action="AddNumber" method="get">
                                                @{
                                                    Model.Id = item.Id;

                                                    var cliente = Model.Telefones.FirstOrDefault(t => t.ClienteId == Model.Id);

                                                    if (cliente != null)
                                                    {
                                                        Model.Numero = cliente.Numero;
                                                        Model.DDD = cliente.DDD;
                                                        <span>(@Html.DisplayFor(model => model.DDD))</span>
                                                        @Html.DisplayFor(model => model.Numero);

                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" asp-for="Id" />
                                                        <input type="submit"
                                                               class="btn btn-sm btn-link"
                                                               value="Adicionar Numero" />
                                                    }

                                                }


                                            </form>

                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-7 offset-3">
                                                    <div class="input-group">
                                                        <form asp-action="Edit" method="get">
                                                            @{ Model.Id = item.Id;}
                                                            <input type="hidden" asp-for="Id" />
                                                            <button type="submit" class="mr-1 btn btn-sm btn-outline-primary"><i class="fas fa-pen"></i></button>
                                                        </form>
                                                        <form asp-action="Delete" method="post">
                                                            @{ Model.Id = item.Id;}
                                                            <input type="hidden" asp-for="Id" />
                                                            <button type="submit" class="btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

    }
    else
    {
        <h3 class="m-5 text-center">Sem nomes cadastrados :(</h3>
    }


}
